<ul class="list">
    <li class="list-divider">Settings</li>
    <li>
        <a href="#/admin/Location/Edit/0">
              Site Configuration
      <span class="count count-list-second">Edit</span>
            <span class="chevron"></span>
        </a>
    </li>
    <li>
        <a href="/LaScada/Connector/Index">Live Data Connectors
          <span class="count count-list-second">Edit</span>
            <span class="chevron"></span>
        </a>
    </li>
    <li>
        <a href="/LaScada/Account/UserManagment">Users Management
          <span class="count count-list-second">Edit</span>
            <span class="chevron"></span>
        </a>
    </li>
    <li>
        <a href="/LaScada/Location/EditHomeScreen">Plant Summary
      <span class="count count-list-second">Edit Home Screen </span>
            <span class="chevron"></span>
        </a>
    </li>
    <li class="list-divider">Advanced Options</li>
    <li>
        <a href="#/admin/createSite">Create Site
          <span class="count count-list-second">Create</span>
            <span class="chevron"></span>
        </a>
    </li>
    <li>
        <a href="/LaScada/Admin/SiteSelector">Site Selector
           <span class="count count-list-second">Select</span>
            <span class="chevron"></span>
        </a>
    </li>
    <li>
        <a href="/LaScada/Account/LogOff">Log Off noam2
       <span class="count count-list-second">Log Off </span>
            <span class="chevron"></span>
        </a>
    </li>
</ul>

