        <ul class="list">

            <li>
                <a href="/LaScada/Tag/HistoryGraph/10508?ReturnURL=%2FLaScada%2FTag%2FDashboard%3FLocationId%3D1188">
                    <span class="gaugeName">Main Piller</span>
                    <div class="toggle active">
                        <div class="toggle-handle"></div>
                    </div>
                </a>
            </li>
            <li class="li-full">
                <a href="/LaScada/Tag/HistoryGraph/10509?ReturnURL=%2FLaScada%2FTag%2FDashboard%3FLocationId%3D1188" class="circular" style="width: 100%;">
                    <div class="gaugeContainer" data-value="70" data-min="0" data-max="130" data-uom="Unit/H"></div>
                    <div class="gaugeValue"></div>
                    <div class="li-center gaugeName">Production Rate</div>
                </a>
            </li>
            <li>
                <a href="/LaScada/Tag/HistoryGraph/10510?ReturnURL=%2FLaScada%2FTag%2FDashboard%3FLocationId%3D1188">
                    <div class="li-left gaugeName">
                        <span>
                            Total production
                        </span>
                    </div>


                    <div class="li-right gaugeName">
                        <span>120.3</span>
                        <span>TON</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="/LaScada/Tag/HistoryGraph/10511?ReturnURL=%2FLaScada%2FTag%2FDashboard%3FLocationId%3D1188">
                    <div class="li-left gaugeName">
                        <span>Shift Manager</span>
                    </div>
                    <div class="li-right gaugeName">
                        <span>יוסי</span>
                        <span></span>
                    </div>
                </a>
            </li>
        </ul>
