<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>La Scada SPA</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="css/app.css" />
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>


  <link href="http://54.203.251.4/LaScada/Content/site.css" rel="stylesheet" />
  <link href="/app/css/ratchet.css" rel="stylesheet" />
  <link href="http://54.203.251.4/LaScada/Content/add2home.css" rel="stylesheet" />



</head>
<body ng-controller='IndexController'>

<div id='bodyContainer'>
  <header class="bar-title Sbody" ng-class="{'moved-body':isMenuOpen}">

    <h1 class="title" ng-init="appTitle = 'Home'">{{appTitle}}</h1>

    <a class="button menu-trigger" ng-click='isMenuOpen=!isMenuOpen'>
      <img src="http://54.203.251.4/LaScada/content/images/SidePanel.png" style="vertical-align:middle; margin-top: -1px; margin-left: 2px;" />

    </a>
  </header>

  <nav class="bar-tab Sbody" ng-class="{'moved-body':isMenuOpen}">
    <ul class="tab-inner ">
      <li class="tab-item ">
        <a ng-click="appTitle = 'Home'" href="#/home">
          <span class="tab-icon tab-icon-home">&nbsp;</span>
          <div class="tab-label">Home</div>
        </a>
      </li>
      <li class="tab-item ">
        <a ng-click="appTitle = 'Alerts'" href="#/alerts">
          <span class="tab-icon tab-icon-alerts">&nbsp;</span>
          <div class="tab-label">Alerts</div>
        </a>
      </li>
      <li class="tab-item ">
        <a ng-click="appTitle = 'Admin'" href="#/admin">
          <span class="tab-icon tab-icon-admin">&nbsp;</span>
          <div class="tab-label">Admin</div>
        </a>
      </li>
      <li class="tab-item ">
        <a ng-click="appTitle = 'About'" href="#/about">
          <span class="tab-icon tab-icon-about">&nbsp;</span>
          <div class="tab-label">About</div>
        </a>
      </li>
    </ul>
  </nav>


  <div id="body" class="content content-padded Sbody"  ng-class="{'moved-body':isMenuOpen}">

      <!--span >{{isMenuOpen}}</span-->

      <div ng-view></div>


  </div>

</div>


  <div id="menu" class="sidepanel" ng-class="{'moved-menu':isMenuOpen}" style='width:250px; position:fixed; overflow-y:auto; height:100%; transition: all 0.4s; left:-255px;'>

    <ul class="list">
      <div ng-repeat='site in locations'>
      <li class="list-divider"  >
      {{site.LocationName}}

      </li>
        <div ng-repeat='area in site.childLocations'>
        <li class="list-divider"  >
        {{area.LocationName}}

        </li>
        <div ng-repeat='location in area.childLocations'>
          <li >
          <a href="#/location/{{location.LocationId}}">
                    
                    {{location.LocationName}}
                    <span class="chevron"></span>
                </a>
          </li>
          </div>
          </div>
    </ul>


            <li style=" background-color:black; font-size: 20px; font-weight: bold; line-height: 30px; color: #FFF;  ">
                <a href="/LaScada/Account/LogOff">Log off  noam2 </a>
            </li>

        </ul>
  </div>



  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
