

<form action="http://54.203.251.4/LaScada/Admin/CreateSite" method="post">
<input name="__RequestVerificationToken" type="hidden" value="UiVKdWMVITsvSPX2EbZxgwdVr7l2h741y8I-aC_d1bQwjoTJ2wqlq5zT4oOfsiGaDI6l97hCUMAgTfFlyJV-FDwSa7AQ3FN4o3qe94ZFsGdoXqDwG97bKQlDXK1FbBnR0" />    <fieldset>
        <legend></legend>
        <br />
        <div class="editor-label">
          Site Name:
        </div>
        <div class="editor-field">
            <input id="SiteName" name="SiteName" placeholder="For Example: MySite" type="text" value="" />
            <span class="field-validation-valid" data-valmsg-for="SiteName" data-valmsg-replace="true"></span>
        </div>

       
        <p>
            <input id="submitBtn" type="submit" class="button-block button-100" value="Save"></input>
        </p>
       
    </fieldset>
</form>


